env
explore
data
temp_data
__pycache__
*.json
*.html
movie_data
*_data
*.sqlite3
.ipynb_checkpoints
media
*.db
backend/recommendation/mlruns
backend/recommendation/plots
*.csv
backend/recommendation/api_key.py
backend/vector_search/api_key.py
